/* Define custom properties for colors and transitions */
:root {
    --primary-color: #2468ff;
    --primary-color-lighter: #468aff;
    --text-color: #fff;
    --background-color: #080808;
    --line-height: 1.8;
    --transition-duration: 0.2s;
    --transition-ease: ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: var(--line-height);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    max-width: 600px;
    padding: 20px;
}

.logo {
    width: 280px;
    display: block;
    margin: 0 auto 20px;
}

.intro,
.future,
.contact {
    margin: 20px 0;
    text-align: left;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.social-links {
    margin-top: 30px;
    text-align: center;
}

.social-links img {
    width: 24px;
    margin: 0 10px;
    filter: invert(27%) sepia(92%) saturate(2050%) hue-rotate(215deg) brightness(100%) contrast(102%);
    transition: opacity var(--transition-duration) var(--transition-ease), transform var(--transition-duration) var(--transition-ease);
}

.social-links img:hover {
    filter: invert(45%) sepia(61%) saturate(1051%) hue-rotate(192deg) brightness(100%) contrast(103%);
    transform: scale(1.1);
}

.contact a {
    display: inline-block;
    transition: color var(--transition-duration) var(--transition-ease), transform var(--transition-duration) var(--transition-ease);
}

.contact a:hover {
    color: var(--primary-color-lighter);
    transform: scale(1.05);
}